* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

#root {
    background-color: #6b5b95;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    min-height: 400px;
    display: flex;
    align-items: flex-start;
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Cell {
    cursor: pointer;
}

.current {
    background-color: red;
}

@keyframes startAnimation {
    0% {
        transform: scale(0.25);
    }

    50% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}

.visited {
    background-color: green;
}

.wall {
    background-color: black;
    animation-name: startAnimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.initialCell {
    background-color: blue;
}

.finalCell {
    background-color: red;
}

.white {
    background-color:white;
}

.backtrack {
    background-color: purple;
}

.MazeControls {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap-buttons {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.controls-message {
    font-size: 20px;
    padding: 0px;
    margin-top: 2%;
    color: white;
}

.error-message {
    font-size: 18px;
    background-color: red;
    color: white;
    padding: 1px 4px;
    border-radius: 10px;
    margin: 5px 0px;
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

.display {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.btnControls {
    background-color: #feb236;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    /* padding: 1rem; */
    transition: background-color .4s ease-in-out;
    margin: 5px;
}

.btnControls:hover {
    background-color: #d64161;
    color: white;
}

.btnDijkstra {
    font-weight: bolder;
    font-size: 15px;
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    color: white;
    margin: 5px;
} 

.btnDijkstra:hover {
    background-color: white;
    color: black;
}

.btnControls:active, 
.btnDijkstra:active {
    transform: translateY(2px);
}

.wrap-grid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0px; 
}

.wrap-githubIcon {
    position: absolute;
    top: 1%;
    left: 1%;
}

.wrap-githubIcon a {
    text-decoration: none;
    color: black;
}

.wrap-githubIcon svg {
    width: 30px;
    height: 30px;
    transition: color .4s ease-in-out;
    cursor: pointer;
}

.wrap-githubIcon svg:hover {
    color: white;
}

.wrap-githubIcon svg:active {
    transform: translateY(3px);
}

@media (max-width: 500px) {
    .btnControls {
        padding: 5px;
    }
}